.vscode/settings.json
.DS_Store
game/*.rpyc
game/cache/*
log.txt
game/saves/*
traceback.txt
errors.txt
game/tl/None/common.rpymc
project.json
android.keystore
bundle.keystore
game/script.rpy.bak
android.json
game/scripts/venv/*
